PYANNOTE_API_KEY=
TRANSCRIPTION_SIMILARITY_MODE=

TELEMOST_JOIN_AS_GUEST=
TELEMOST_REQUIRE_AUTH=
TELEMOST_AUTH_STATE_PATH=
TELEMOST_AUTH_COOKIES_PATH=
TELEMOST_BOT_HEADLESS=
PYANNOTE_SUBMIT_MAX_ATTEMPTS=
PYANNOTE_HTTP_TIMEOUT_SECONDS=
PYANNOTE_JOB_TIMEOUT_SECONDS=


TELEMOST_BOT_POOL_SIZE=
TRANSCRIPTION_MONITOR_MAX_PARALLEL=
TRANSCRIPTION_MONITOR_INTERVAL_SECONDS=

TELEMOST_SELF_VIDEO_SOURCES=


YANDEX_DISK_UPLOAD_ENABLED=
YANDEX_DISK_TOKEN=
YANDEX_DISK_BASE_PATH=
YANDEX_DISK_DELETE_LOCAL_AFTER_UPLOAD=
YANDEX_DISK_UPLOAD_ERRORS_FILE=

BOT_NODE_ID=
BOT_NODE_NAME=
BOT_NODE_REQUIRE_API_TOKEN=
BOT_NODE_API_TOKEN=

TELEMOST_MAX_EXPECTED_PARTICIPANTS=
TELEMOST_PARTICIPANT_SPIKE_DELTA=

TELEMOST_RECONNECT_ENABLED=
TELEMOST_RECONNECT_MAX_ATTEMPTS=
TELEMOST_RECONNECT_DELAY_SECONDS=
TELEMOST_RECONNECT_TOTAL_LIMIT_SECONDS=
TELEMOST_RECONNECT_LOST_CHECKS=

YANDEX_DISK_UPLOAD_MAX_ATTEMPTS=

YANDEX_DISK_UPLOAD_RETRY_DELAY_SECONDS=

YANDEX_DISK_RETRY_FAILED_UPLOADS_ENABLED=

YANDEX_DISK_RETRY_FAILED_UPLOADS_INTERVAL_SECONDS=

TELEMOST_CHAT_COMMANDS_ENABLED=
TELEMOST_CHAT_COMMANDS_SCREENSHOT_DELAY_MS=

TELEMOST_CHAT_COMMANDS_MONITOR_INTERVAL_MS=
PYANNOTE_UPLOAD_TIMEOUT_SECONDS=

TELEMOST_ALONE_LEAVE_THRESHOLD_SECONDS=
PYANNOTE_HTTP_REQUEST_MAX_ATTEMPTS=
PYANNOTE_HTTP_RETRY_DELAY_SECONDS=
PYANNOTE_SUBMIT_PROCESS_TIMEOUT_SECONDS=
TRANSCRIPTION_BACKEND=
REMOTE_TRANSCRIPTION_BASE_URL=
REMOTE_TRANSCRIPTION_API_TOKEN=
REMOTE_TRANSCRIPTION_REQUEST_TIMEOUT_SECONDS=
REMOTE_TRANSCRIPTION_UPLOAD_TIMEOUT_SECONDS=

TRANSCRIPTION_COMPRESS_AUDIO_ENABLED=

# Voice command service debug MVP
VOICE_COMMANDS_ENABLED=
VOICE_COMMANDS_SERVICE_URL=
VOICE_COMMANDS_DEBUG_FILE=
VOICE_COMMANDS_QUEUE_MAX_CHUNKS=
VOICE_COMMANDS_DELETE_DEBUG_AFTER_STOP=
TELEMOST_COMMAND_DEDUP_SECONDS=
SESSION_UPDATE_API_TOKEN=
SESSION_UPDATE_ENCRYPTION_KEY=

CHAT_AGENDA_API_URL=
CHAT_AGENDA_API_TOKEN=
